<html>
	<head>
		<title>Access System</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">        
	</head>
	<body>
	<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Access <span>1.0</span></div>
		</div>
		<br>
		<div class="login">
			<form action="/content" method="POST" enctype="multipart/form-data">
				<input type="text" placeholder="usuario" name="user" required><br>
				<input type="password" placeholder="password" name="password" required><br>
				<input type="submit" value="Login">
			</form>
		</div>
	</body>
</html>